#AboutMe{
    text-align: center; /* This makes all the texts in this section centered */
    color:blue; /* This makes all of the text in the section blue */
}

#FunStuf{
    text-align: center;/* This makes all the texts in this section centered */
    color: red; /* This makes all of the text in the section red*/
}

#randform{
    text-align: center; /*  Similar to the comments above this */
    color: burlywood;
}

h1{
    text-align: left;

}

h2{

}

h3{

}

footer{

}

nav{

}

p{

}


li{

}

ol{

}

b{

}

table{
    
}

