#AboutMe{
    text-align: center; /* This makes all the texts in this section centered */
    color:blue; /* This makes all of the text in the section blue */
    border-style: solid;
    border-width: thick;
    border-color: rgb(0, 0, 0);
}

#FunStuff{
    text-align: center;/* This makes all the texts in this section centered */
    color: red; /* This makes all of the text in the section red*/
    border-style:solid;
    border-color: rgb(70, 37, 48);
    border-width: thick;
    border-radius: 25px;
}
#FunStuff:hover{
    background-color: hotpink;
}

#randform{
    text-align: center; /*  Similar to the comments above this */
    color: burlywood;
    width:1000px;
    border:50px dotted #7373; 
    padding:25px 40px 30px 65px;
    margin-top: 100px;
    margin-bottom:100px;
    margin-right:100px;
    margin-left: 100px;
}

a:active{
    background-color:rgb(185, 214, 20);
    font-family: cursive;

}


h1{
    text-align: center;
    color: rgb(228, 164, 44);
    width:300px;
    border: 15px solid rgb(151, 46, 177);
    padding: 50px;
    margin: auto;
    text-decoration: overline;
    text-emphasis: center;
    max-width: 5%;
    max-height: 100px;
}
h2{
    color: rgb(11, 11, 48);
    background-color: rgb(112, 145, 165);
    border-style: inset;
    position: relative;
    text-decoration: underline overline;
    text-align: justify;
    font-family: 'Potta One', cursive;

}

h3{
    color: hsl(249, 20, 39);
    background-color: rgb(112, 145, 165);
    position: absolute;
}

footer{ 
    background-color: hsla(350, 50, 50, 0.5);
    position: absolute;
    text-align: left;
    display: none;
}

nav{

    color: #ABC;
    background-color: rgba(0, 119, 255, 0.171);
    border-style: double;
    border-color: lightpink;
    border-radius: 25px;
    position: fixed;
    height: 4pc;
    width: 400px;

}

p{
    color: #BF1FFA; 
    background-color: gold;
    position: relative;
    display: inline-block;
    font-size: 2em;

}


li{
    color: grey; 
    background-color: powderblue;
    position: relative;
    font-size: 3ex;

}

ol{
    color: teal;
    background-color: lightblue;
    position:static;
}

b{
    color: blueviolet;
    font-size: 2vw;
}

table{
    background-color: bisque;
    /*Box model */
    width:300px;
    border: 15pt solid green;
    padding-top: 50px;
    padding-bottom: 30pt;
    padding-right: 25px;
    padding-left: 20px;
    margin: 20px 30px 30px 200px;
    font-family: 'Lobster', cursive;
    max-width: 50%;
    max-height: 100px;
    

}
.characters{
  background: grey;  
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: baseline;
  padding: 40px;
  margin: 40px;

}

.characters-item{
    flex-basis: auto;
    align-self: auto;
    padding: 50px 50px 50px 50px;
    background: blue;
    color: black;
    
}


    body{
        background-color: paleturquoise;
    }

@media screen and (max-width: 750px) {
    body {
      background-color: lightgreen;
    }
  }




